@import url("https://fonts.googleapis.com/css?family=Arsenal:400,700|Comfortaa:300,400,500,600,700|Jaldi:400,700|Montserrat:300,400,500,700|Open+Sans:300,400,700|Poppins:200,300,400,700|Raleway:300,400,500,700|Tenor+Sans&display=swap");
@font-face {
  font-family: 'Coves Light';
  src: url("../fonts/Coves Light.otf") format("opentype"); }

@font-face {
  font-family: 'Luxia-Display';
  src: url("../fonts/Luxia-Display.otf") format("opentype"); }

@font-face {
  font-family: 'Quantum';
  src: url("../fonts/Quantum.otf") format("opentype"); }

@font-face {
  font-family: 'Medium Regular';
  src: url("../fonts/NoeDisplay-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Medium Medium';
  src: url("../fonts/NoeDisplay-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Yessica-Regular';
  src: url("../fonts/Yessica-Regular.ttf") format(" truetype"); }

@font-face {
  font-family: 'Just_Sunday';
  src: url("../fonts/Just Sunday Demo.ttf") format(" truetype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: scroll; }

body {
  font-family: "Raleway", sans-serif, helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #002b31;
  background: #fcfcfb; }

::selection {
  background: #002b31;
  color: #fcfcfb; }

.grid-container {
  display: grid;
  grid-template-rows: min-content 100vw min-content min-content 20vw min-content;
  grid-template-columns: 6vw repeat(4, minmax(min-content, 1fr)) 6vw;
  grid-template-areas: "menu menu menu menu menu menu" "side1 header header header header side2" "side1 refund refund refund refund side2" "side1 main main main main side2" "side1 subs subs subs subs side2" "side1 footer footer footer footer side2"; }

svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  svg:hover {
    fill: #967140;
    transform: translateY(-0.2rem); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.txt-img-color, .h4, .hamburger__nav-email, .logo a {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.transition-3, .hamburger__nav-link, .hamburger__nav-link a, .hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before,
.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
  transition: all .3s ease-in-out; }

.transition-5, .nav-bag-same, .hamburger__nav, .bag, .hamburger__icon, .hamburger__icon::after, .hamburger__icon::before {
  transition: all .5s ease-in-out; }

.nav-bag-same, .hamburger__nav, .bag {
  background: #fcfcfb;
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 9.2rem; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: orangered;
  font-size: 1.2rem; }

.h3 {
  color: #002b31;
  font-size: 3rem; }

.h4 {
  font-family: "Comfortaa", cursive;
  letter-spacing: .4rem;
  background-image: linear-gradient(to bottom right, #98743E, #E3C394); }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.txt-center {
  text-align: center; }

.show {
  display: block; }

.hide {
  display: none; }

.hamburger__btn {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hamburger__btn:hover .hamburger__icon {
    width: 6rem; }
    .hamburger__btn:hover .hamburger__icon::after, .hamburger__btn:hover .hamburger__icon::before {
      width: 6rem; }

.hamburger__icon {
  width: 5.2rem;
  height: .4rem;
  background: #002b31;
  position: relative;
  border-radius: 2px; }
  .hamburger__icon, .hamburger__icon::after, .hamburger__icon::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    height: .4rem;
    background: currentColor;
    border-radius: 2px; }
  .hamburger__icon::after {
    top: -1.2rem;
    width: 4rem; }
  .hamburger__icon::before {
    top: 1.2rem;
    width: 3.1rem; }

.hamburger__nav {
  z-index: 1;
  padding: 0 0 0 3vw;
  transform: translateX(-200%);
  display: grid;
  grid-template-rows: max-content repeat(3, min-content);
  grid-row-gap: 1.8vh; }
  .hamburger__nav-list {
    display: grid;
    grid-row-gap: 2vh;
    font-size: 3.5rem;
    padding: 18vh 0; }
  .hamburger__nav-link {
    cursor: pointer; }
    .hamburger__nav-link a {
      display: inline-block;
      height: 100%;
      border-bottom: .3rem solid transparent; }
    .hamburger__nav-link:hover a {
      transform: translateX(2rem);
      border-bottom: 0.3rem solid #002b31; }
  .hamburger__nav-email {
    align-self: start;
    background-image: linear-gradient(to bottom right, #98743E, #E3C394); }
  .hamburger__nav-social svg {
    width: 3.3rem;
    height: 3.3rem;
    padding: 1rem;
    justify-content: start; }

.hamburger .chb-toggle:checked ~ .hamburger__nav {
  transform: translateX(0); }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon {
  background: transparent; }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before,
.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
  top: 0;
  width: 3rem;
  height: .2rem; }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
  transform: rotate(45deg); }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before {
  transform: rotate(-45deg); }

.logo {
  font-size: 6rem; }
  .logo a {
    background-image: linear-gradient(to bottom right, #EC6253, #AF4438);
    display: grid;
    grid-template-columns: repeat(4, min-content);
    align-items: center; }
  .logo i {
    font-weight: bold;
    font-style: normal;
    align-self: end; }
  .logo span {
    background-image: linear-gradient(to bottom right, #EC6253, #AF4438);
    width: 2rem;
    height: 2rem;
    padding: 1.7rem;
    border: 0.1rem solid #fcfcfb;
    display: inline-flex;
    position: relative;
    transform: rotate(180deg);
    border-radius: 50%; }
    .logo span::after, .logo span::before {
      content: '';
      position: absolute;
      width: 2rem;
      height: .21rem;
      border-radius: 5rem;
      background: #fcfcfb;
      transform-origin: 10% 10%; }
    .logo span::after {
      width: 1.5rem;
      transform: rotate(90deg); }
    .logo span::before {
      width: 1rem;
      transform: rotate(145deg); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 6rem;
  display: inline-block;
  /* ako zelis da stavis padding, ili width, height elementu */
  border-radius: .2rem;
  border: none;
  cursor: pointer;
  background: #002b31;
  color: #E2E2E2;
  font-family: "Comfortaa", cursive;
  letter-spacing: .2rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.1rem);
  /* pomeramo na hover dugme na gore za 3px */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.2rem);
  /* kada se klikne  */
  box-shadow: 0 0.5rem 1rem rgba(0, 43, 49, 0.2);
  /* x y blur color */ }

.bag {
  right: 6vw;
  z-index: 3;
  padding: 3vh 0;
  text-align: center; }
  .bag__hr {
    background: #E2E2E2;
    width: 30%;
    height: .1rem;
    display: inline-block; }
  .bag__noitems {
    font-size: 1.2rem;
    letter-spacing: .2rem; }

.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  grid-column-gap: 3.5rem;
  padding: 2vh 6vw;
  align-items: center;
  z-index: 22; }
  .menu__items {
    justify-self: end;
    display: flex;
    position: relative; }
    .menu__items svg {
      transition: all .2s ease-in-out; }
      .menu__items svg:not(:last-child) {
        margin-right: 2.5rem; }
  .menu__bag {
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 5; }
    .menu__bag:hover {
      transform: translateY(-0.2rem); }
      .menu__bag:hover svg {
        fill: #967140;
        transform: translateY(0); }
    .menu__bag--counter {
      position: absolute;
      top: 0rem;
      right: -.3rem;
      border-radius: 50%;
      border: 0.25rem solid #fcfcfb;
      background: linear-gradient(to bottom right, #EC6253, #AF4438);
      font-size: .8rem;
      color: #fcfcfb;
      width: 1.6rem;
      height: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6; }

.header {
  grid-area: header;
  background-image: linear-gradient(rgba(0, 43, 49, 0.5), rgba(0, 43, 49, 0.5)), url("../img/bg-3.jpg");
  filter: blur(0.1rem);
  background-size: cover;
  overflow: hidden;
  height: 100vh; }

.refund {
  background: lightblue;
  grid-area: refund; }

.main {
  background: palevioletred;
  grid-area: main; }

.subscribe {
  background: lightslategray;
  grid-area: subs; }

.footer {
  background: black;
  grid-area: footer; }

.sidebar__1 {
  background: orange;
  grid-area: side1; }

.sidebar__2 {
  background: orangered;
  grid-area: side2; }
