@import url("https://fonts.googleapis.com/css?family=Arsenal:400,700|Comfortaa:300,400,500,600,700|Jaldi:400,700|Montserrat:300,400,500,700|Open+Sans:300,400,700|Poppins:200,300,400,700|Raleway:300,400,500,700|Tenor+Sans&display=swap");
@font-face {
  font-family: 'Coves Light';
  src: url("../fonts/Coves Light.otf") format("opentype"); }

@font-face {
  font-family: 'Luxia-Display';
  src: url("../fonts/Luxia-Display.otf") format("opentype"); }

@font-face {
  font-family: 'Quantum';
  src: url("../fonts/Quantum.otf") format("opentype"); }

@font-face {
  font-family: 'Medium Regular';
  src: url("../fonts/NoeDisplay-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Medium Medium';
  src: url("../fonts/NoeDisplay-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Yessica-Regular';
  src: url("../fonts/Yessica-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Geraldine';
  src: url("../fonts/Geraldinefree.otf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Undercut';
  src: url("../fonts/Undercut.ttf") format("truetype"); }

@font-face {
  font-family: 'Grandiose Demo';
  src: url("../fonts/Grandiose-Demo.ttf") format("truetype"); }

@keyframes zooming {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes crossLine {
  from {
    transform-origin: right top;
    transform: scale(0, 1); }
  to {
    transform: scale(1, 1);
    transform-origin: left top; } }

@keyframes toRight {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(2rem); } }

@keyframes fromBottomLeft {
  0% {
    opacity: 0;
    transform: translate(-300%, 200%); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes pulsingScale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

@keyframes playBtn {
  0% {
    width: 0;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  25% {
    width: 100%;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-radius: 1rem; }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent; }
  75% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff; } }

@keyframes hoverBtn {
  0% {
    opacity: 1;
    transform: translate(-100%, 50%); }
  100% {
    transform: translate(100%, -50%);
    opacity: 1;
    z-index: 1000; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: scroll; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #222222;
  background: #fcfcfb; }

body::-webkit-scrollbar {
  width: 1rem; }

body::-webkit-scrollbar-track {
  background: #222222; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #98743E, #E3C394);
  border-radius: 5rem; }

body::-webkit-scrollbar-corner {
  background: #222222; }

body::-webkit-resizer {
  background: red; }

::selection {
  background: #222222;
  color: #fcfcfb; }

.grid-container {
  display: grid;
  grid-template-rows: min-content 100vw min-content min-content 20vw min-content;
  grid-template-columns: 6vw repeat(4, minmax(min-content, 1fr)) 6vw;
  grid-template-areas: "menu menu menu menu menu menu" "side1 header header header header side2" "side1 refund refund refund refund side2" "side1 main main main main side2" "side1 subs subs subs subs side2" "side1 footer footer footer footer side2"; }

svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  svg:hover {
    fill: #967140;
    transform: translateY(-0.2rem); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.txt-img-color, .h5, .hamburger__nav-email {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.transition-2, .hamburger__nav-email, .btn, .btn:link, .btn:visited, .bag .item, .bag .item__up-down .amount-down, .bag .item__up-down .amount-up {
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1); }

.transition-3, .hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before,
.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after, .bag .item__remove {
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }

.transition-5, .nav-bag-same, .hamburger__nav, .bag, .hamburger__icon, .hamburger__icon::after, .hamburger__icon::before {
  transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1); }

.nav-bag-same, .hamburger__nav, .bag {
  background: #fcfcfb;
  min-width: 35vw;
  height: 90vh;
  position: fixed;
  top: 9.2rem;
  z-index: 3; }

.cross-line, .hamburger__nav-link a::before, .hamburger__nav-email::before {
  content: '';
  background: currentColor;
  border-radius: .2rem;
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  transform-origin: 100% 50%;
  transform: scale(0, 1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }

.cross-line-hover, .hamburger__nav-link:hover a::before, .hamburger__nav-email:hover::before {
  transform: scale(1, 1);
  transform-origin: 0% 100%; }

.show-bag {
  display: block;
  transform: translateX(0); }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: orangered;
  font-size: 1.2rem; }

.h3 {
  font-size: 1.6; }

.h4 {
  font-size: 1.2rem;
  opacity: .7;
  font-weight: 500; }

.h5 {
  font-size: 2rem;
  font-family: "Comfortaa", cursive;
  letter-spacing: .4rem;
  background-image: linear-gradient(to bottom right, #98743E, #E3C394); }

.h6 {
  font-size: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.txt-center {
  text-align: center; }

.show {
  display: block; }

.hide {
  display: none; }

.hr2 {
  width: 2vw;
  height: .2rem;
  border-radius: .2rem;
  background: #222222;
  margin: 0 auto;
  margin-bottom: 2rem; }

.hamburger__btn {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hamburger__btn:hover .hamburger__icon {
    width: 6rem; }
    .hamburger__btn:hover .hamburger__icon::after, .hamburger__btn:hover .hamburger__icon::before {
      width: 6rem; }

.hamburger__icon {
  width: 5.2rem;
  height: .4rem;
  background: #222222;
  position: relative;
  border-radius: 2px; }
  .hamburger__icon, .hamburger__icon::after, .hamburger__icon::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    height: .4rem;
    background: currentColor;
    border-radius: 2px; }
  .hamburger__icon::after {
    top: -1.2rem;
    width: 4rem; }
  .hamburger__icon::before {
    top: 1.2rem;
    width: 3.1rem; }

.hamburger__nav {
  padding: 0 0 0 3vw;
  transform: translateX(-200%);
  display: grid;
  grid-template-rows: max-content repeat(3, min-content);
  grid-row-gap: 1.8vh; }
  .hamburger__nav-list {
    display: grid;
    grid-row-gap: 2vh;
    font-size: 3.5rem;
    padding: 18vh 0; }
  .hamburger__nav-link {
    cursor: pointer;
    overflow: hidden; }
    .hamburger__nav-link a {
      display: inline-block;
      height: 100%;
      opacity: .6;
      position: relative;
      padding: 0 2vw;
      transition: -webkit-transform 0.4s cubic-bezier(0.62, 0.005, 0, 1.005); }
      .hamburger__nav-link a::before {
        width: 130%;
        height: .5rem;
        border: 0.2rem solid #fcfcfb; }
    .hamburger__nav-link:hover a {
      opacity: 1;
      transform: translateX(2.5rem); }
  .hamburger__nav-email {
    align-self: start;
    background-image: linear-gradient(to bottom right, #98743E, #E3C394);
    cursor: pointer;
    position: relative; }
    .hamburger__nav-email::before {
      width: 40%;
      height: .1rem;
      top: 53%; }
    .hamburger__nav-email:hover {
      color: #222222;
      transform: translateX(2rem); }
  .hamburger__nav-social svg {
    width: 3.3rem;
    height: 3.3rem;
    padding: 1rem;
    justify-content: start; }

.hamburger .chb-toggle:checked ~ .hamburger__nav {
  transform: translateX(0); }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon {
  background: transparent; }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before,
.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
  top: 0;
  width: 3rem;
  height: .2rem; }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
  transform: rotate(45deg); }

.hamburger .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before {
  transform: rotate(-45deg); }

.logo {
  font-weight: 300;
  font-family: "Raleway", sans-serif; }
  .logo a {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center; }
  .logo .zvrlj {
    font-family: "Geraldine";
    font-size: 6rem; }
  .logo .wtt {
    font-weight: bold;
    letter-spacing: -.3rem;
    transform: translateY(-2.5rem); }
  .logo .border-bottom {
    width: 70%;
    height: .1rem;
    background: currentColor;
    transform: translateY(-3rem);
    opacity: .5; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 6rem;
  display: inline-block;
  /* ako zelis da stavis padding, ili width, height elementu */
  border-radius: .1rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #2a2929 0%, #3d3d3d 45%, #2a2929 100%);
  color: #E2E2E2;
  font-family: "Comfortaa", cursive;
  letter-spacing: .2rem;
  position: relative;
  overflow: hidden; }

.btn::after {
  content: '';
  display: inline-block;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.btn:hover::after {
  -moz-animation-name: hoverBtn;
  -moz-animation-duration: .5s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-name: hoverBtn;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-name: hoverBtn;
  animation-duration: .5s;
  animation-fill-mode: backwards; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.2rem);
  /* kada se klikne  */
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2);
  /* x y blur color */ }

.btn--silver {
  background: radial-gradient(circle farthest-corner at 0% 0.5%, #f1f1f2 0.1%, #e0e2e4 100.2%);
  color: #222222;
  box-shadow: inset 0 0 0.8rem 1rem #cecece; }
  .btn--silver:hover::after {
    background: #e0e2e4; }

.btn--black {
  background: linear-gradient(90deg, #2a2929 0%, #3d3d3d 45%, #2a2929 100%);
  color: #fcfcfb; }
  .btn--black:hover::after {
    background: #222222; }

.bag {
  right: 6vw;
  padding: 3vh 0;
  transform: translateX(200%);
  text-align: center; }
  .bag__content {
    max-height: 50vh;
    overflow-y: scroll;
    box-shadow: inset 0 -0.5rem 1rem rgba(34, 34, 34, 0.1); }
  .bag__hr {
    background: #E2E2E2;
    width: 30%;
    height: .1rem;
    display: inline-block; }
  .bag__noitems {
    font-size: 1.2rem;
    letter-spacing: .2rem; }
  .bag .item {
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content repeat(2, max-content);
    grid-column-gap: 3vw;
    justify-content: center;
    padding: 3vh 0; }
    .bag .item:hover {
      box-shadow: inset 0 0 1.5rem 1rem rgba(226, 226, 226, 0.5); }
    .bag .item__img-container {
      background: radial-gradient(circle farthest-corner at 0% 0.5%, #f1f1f2 0.1%, #e0e2e4 100.2%);
      box-shadow: 2px 5px 10px -4px rgba(0, 0, 0, 0.5);
      width: 7rem;
      height: 7rem;
      padding: .3rem 0; }
      .bag .item__img-container img {
        height: 100%; }
    .bag .item__about {
      display: grid;
      grid-row-gap: .5rem;
      justify-items: start; }
    .bag .item__title {
      font-weight: 700; }
    .bag .item__up-down {
      font: 1.5rem "Open Sans", sans-serif;
      font-weight: bold;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr); }
      .bag .item__up-down .amount-down, .bag .item__up-down .amount-up {
        font-weight: bold;
        font-size: 2rem;
        background: linear-gradient(90deg, #2a2929 0%, #3d3d3d 45%, #2a2929 100%);
        color: #fcfcfb;
        padding: .1rem .8rem;
        cursor: pointer; }
      .bag .item__up-down .amount-down:hover, .bag .item__up-down .amount-up:hover {
        background: linear-gradient(to bottom right, #98743E, #E3C394);
        color: #222222; }
    .bag .item__remove {
      padding: .5rem 1rem;
      cursor: pointer; }
      .bag .item__remove:hover svg {
        transform: scale(1.2); }
      .bag .item__remove svg {
        width: 1.5rem;
        height: 1.5rem; }
  .bag__footer {
    margin-top: 2rem;
    position: relative; }

.bag__content::-webkit-scrollbar {
  width: 1rem; }

.bag__content::-webkit-scrollbar-track {
  background: #fcfcfb; }

.bag__content::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #98743E, #E3C394);
  border-bottom-left-radius: .1rem;
  border-bottom-right-radius: .1rem; }

.bag__content::-webkit-scrollbar-corner, .bag::-webkit-scrollbar-button {
  background: #fcfcfb; }

.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  grid-column-gap: 3.5rem;
  padding: 2vh 6vw;
  align-items: center;
  z-index: 22; }
  .menu__items {
    justify-self: end;
    display: flex;
    position: relative; }
    .menu__items svg {
      transition: all .2s ease-in-out; }
      .menu__items svg:not(:last-child) {
        margin-right: 2.5rem; }
  .menu__bag {
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 5; }
    .menu__bag:hover {
      transform: translateY(-0.2rem); }
      .menu__bag:hover svg {
        fill: #967140;
        transform: translateY(0); }
    .menu__bag--counter {
      position: absolute;
      top: 0rem;
      right: -.3rem;
      border-radius: 50%;
      border: 0.25rem solid #fcfcfb;
      background: linear-gradient(to bottom right, #EC6253, #AF4438);
      font-size: .8rem;
      color: #fcfcfb;
      width: 1.6rem;
      height: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 6; }

.header {
  grid-area: header;
  position: relative;
  height: 90vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .header__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../img/bg-25.jpg");
    background-size: cover;
    box-shadow: inset 12rem 10rem 20rem rgba(0, 0, 0, 0.2), inset -12rem -10rem 20rem rgba(0, 0, 0, 0.2);
    background-blend-mode: screen;
    z-index: -1;
    transform-origin: 50% 65%;
    animation: zooming 12s infinite ease-in-out; }
  .header__caption {
    position: relative;
    padding: 8rem 10rem; }
  .header__blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(204, 204, 204, 0.4), rgba(204, 204, 204, 0.4));
    filter: blur(0.2rem); }
  .header__title {
    font-family: "Geraldine";
    font-size: 20rem; }
  .header__subtitle {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Arsenal", sans-serif;
    letter-spacing: .4rem;
    transform: translateY(-2rem); }

.refund {
  background: lightblue;
  grid-area: refund; }

.main {
  background: palevioletred;
  grid-area: main; }

.subscribe {
  background: lightslategray;
  grid-area: subs; }

.footer {
  background: black;
  grid-area: footer; }

aside .side-container {
  position: fixed;
  top: 30%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem;
  font-size: 1.6rem;
  writing-mode: vertical-lr;
  font-family: "Poppins", sans-serif; }

aside div {
  text-align: center;
  line-height: 6vw; }

.sidebar-1 {
  grid-area: side1; }
  .sidebar-1 .side-container {
    left: 0; }

.sidebar-2 {
  grid-area: side2; }
  .sidebar-2 .side-container {
    right: 0; }
