.header {
    grid-area: header;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, 1fr);

    position: relative;
    height: 90vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    // grid-column: center-start / center-end;
    // grid-row: 2/3;


    &__bg {
        // grid-column: 1/-1;
        // grid-row: 1/-1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(rgba($darkblue-3, .4), rgba($darkblue-3, .4)), url('../img/bg-13.jpg');
        background-size: cover;
        filter: blur(.4rem);
        // box-shadow: $box-shadow-inset-bg;

        // background-blend-mode:screen;
        z-index: -1;
        transform-origin: 50% 65%;
        // transition: transform 15s;
        // animation: zooming 12s infinite ease-in-out; 
    }

    // &:hover &__bg {
    //     transform: scale(1.5);
    // }

    &__caption {
        position: relative;
        padding: 8rem 10rem;
        // border: 1px solid orangered;
        // background: linear-gradient(rgba(#fff, .3), rgba(#fff, .3)); // dodati za onaj kul efekat
    }
    &__blur {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; // bez ovoga je onaj kul efekat
        left: 0; // bez ovoga je onaj kul efekat
        
        // background: linear-gradient(rgba(#ccc, .4), rgba(#ccc, .4));
        box-shadow: $box-shadow-inset-blur;
        filter: blur(.2rem);
    }

    &__title {
        @extend .txt-img-color;
        background-image: $lgold-gradient;
        font-family: $logo;
        font-size: 20rem;
        // z-index: 55;
        // font-family: $logo;
        // font-size: 20rem;
        // text-shadow: 0 10rem 10rem rgba(#000, .8);
    }

    &__subtitle {
        @extend .txt-img-color;
        background-image: $teget-gradient;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 500;
        font-family: $arsenal; // arsenal nije los, sans-t
        letter-spacing: .4rem;
                // font-size: 4rem;
        // font-weight: 500;
        // font-family: $arsenal; // arsenal nije los, sans-t
        // letter-spacing: .4rem;
        transform: translateY(-2rem);
    }
}