.header {
    grid-area: header;
    background-image: linear-gradient(rgba($black2, .5), rgba($black2, .5)), url('../img/bg-3.jpg');
    filter: blur(0.1rem);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    // z-index: 1;

    // grid-column: center-start / center-end;
    // grid-row: 2/3;
}