.menu {
    grid-area: menu;
    display: grid;
    // justify-items: start;
    grid-template-columns: min-content max-content 1fr;
    grid-column-gap: 3.5rem;
    padding: 2vh 6vw;
    align-items: center;
    position: sticky;
    top: 0;
    background: $bg-color;
    transition: padding .3s ease-in-out;
    z-index: 60;

    &__items {
        justify-self: end;
        display: flex;
        position: relative;
        
        
        svg {
            transition: all .2s ease-in-out;
            z-index: 60;
        }
    }

    &__search {
        margin-right: 2.5rem;
    }

    &__user {
        @extend .menu__search;
    }

    

    &__bag {
        position: relative;
        cursor: pointer;
        @extend .menu__search;
        transition: all .2s ease-in-out;
        z-index: 60;
        &:hover {
            svg { fill: $gold; }
            // transform: translateY(-.2rem);
        }
    }

    &__wishlist {
        @extend .menu__bag;
    }

    .counter {
        position: absolute;
        top: 0rem;
        right: -.3rem;
        border-radius: 50%;
        border: 0.25rem solid $bg-color;
        background: $lgold-gradient;
        font-size: .8rem;
        color: $bg-color;
        // font-weight: bold;
        font-family: $poppins;
        width: 1.7rem;
        height: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
    }

    // grid-column: side1-start/ side2-end;
    // grid-row: 1/2;
}

.small-menu {
    padding: 0 6vw;
    
}