aside {
    // grid-row: 2 / -1;
    // position: relative;
    .side-container {
        position: fixed;
        top: 30%;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 2rem;
        font-size: 1.6rem;
        writing-mode: vertical-lr;
        font-family: $poppins; // poppins ili comforta
    }

    .side-after {
        // background: lightblue;
    }

    

    
    div {
        // writing-mode: vertical-lr;
        // background: orangered;
        // position: fixed;
        // top: 40%;
        // -webkit-transform-origin: top center;
        // transform-origin: top center;
        text-align: center;;
        line-height: 6vw;
        // width: 40rem;
        // opacity: .6;
    }
}


.sidebar-1 {
    // background: orange ;
    grid-area: side1;
    // grid-column: side1-start / side1-end;
    .side-container {
        left: 0;
    }

    &__copy, &__after {
        // transform: translate(-50%) rotate(-90deg);
        // left: 0;
        // text-align: center;;
        // line-height: 6vw;
    }

    &__copy {
        // top: 30%;
        // opacity: .6;
        // background: lightcoral;
    }

    &__after {
        // top: 60%;
        // margin
        // background: lightblue;
    }

    
}

.sidebar-2 {
    // background: orangered;
    grid-area: side2;
    // grid-column: side2-start / side2-end;

    .side-container {
        right: 0;
    }

    &__free-ship {
        // background: lightcoral;
    }


}