aside {
    // grid-row: 2 / -1;
    // position: relative;
    .side-container {
        position: fixed;
        top: 40%;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 2rem;
        font-size: 1.5rem;
        writing-mode: vertical-lr;
        font-family: $poppins; // poppins ili comforta
        // word-spacing: .2rem;
    }

    .side-after {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        // justify-content: center;
        // justify-items: center;
        // grid-row: -2rem;
        span {
            display: inline-block;
            border-radius: .4rem;
        }
        span:nth-of-type(1) {
            background: $teget-gradient;
            width: .6rem;
            height: 9rem;
            opacity: .8;
        }
        span:nth-of-type(2) {
            background: $teget-gradient;
            width: .25rem;
            height: 10rem;
            // transform-origin: center bottom;
            transform: translateY(-4rem) scaleY(1);
        }

    }

    div {
        text-align: center;;
        line-height: 6vw;
    }

    .span-shortline {
        color: $lgold;
        width: 2rem;
        background: red;
    }
}


.sidebar-1 {
    // background: orange ;
    grid-area: side1;
    // grid-column: side1-start / side1-end;
    .side-container {
        left: 0;
    }

    &__copy, &__after {
        // transform: translate(-50%) rotate(-90deg);
        // left: 0;
        // text-align: center;;
        // line-height: 6vw;
    }

    &__copy {
        span {
            font-size: 2rem;
            // background: red;
            display: inline-block;
            margin-bottom: .6rem;
            // border-bottom: .1rem solid $lgold;       
        }
    }

    &__after {
        // top: 60%;
        // margin
        // background: lightblue;
    }

    
}

.sidebar-2 {
    // background: orangered;
    grid-area: side2;
    // grid-column: side2-start / side2-end;

    .side-container {
        right: 0;
    }

    &__free-ship {
        svg {
            width: 2rem;
            height: 2rem;
            margin-bottom: .8rem;
            // transform: translateY(-1rem) rotate(90deg);
            // margin-bottom: .2rem;
        }
    }


}