.bag {
    // background: $white;
    // width: 40vw;
    // height: 100vh;
    // position: fixed;
    // top: 9.2rem;
    @extend .nav-bag-same;
    right: 6vw;
    z-index: 3;
    padding: 3vh 0;
    // transform: translateX(200%);
    text-align: center;
    // @extend .transition-5;

    &__hr {
        background: $c7;
        width: 30%;
        height: .1rem;
        display: inline-block;
    }

    &__noitems {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
}