.hamburger {

    &__btn {
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .hamburger__icon {
                width: 6rem;
                &::after, &::before { 
                    width: 6rem;
                }
            }
        }
    }

    &__icon {
        width: 5.2rem;
        height: .4rem;
        background: $black;
        position: relative;
        border-radius: 2px;
        @extend .transition-5;
        
        &, &::after, &::before {
            content: '';
            position: absolute;
            display: flex;
            justify-content: center;
            height: .4rem;
            background: currentColor;
            border-radius: 2px;
            @extend .transition-5;
        }

        &::after {
            top: -1.2rem;
            width: 4rem;
        }

        &::before {
            top: 1.2rem;
            width: 3.1rem;
        }
    }

    &__nav {
        // background: $white;
        // width: 40vw;
        // height: 100vh;
        // position: fixed;
        // top: 9.2rem;
        @extend .nav-bag-same;
        padding: 0 0 0 3vw;
        transform: translateX(-200%);
        display: grid;
        grid-template-rows: max-content repeat(3, min-content);
        grid-row-gap: 1.8vh;
        // @extend .transition-5;

        &-list {    
            display: grid;
            grid-row-gap: 2vh;
            font-size: 3.5rem;
            padding: 18vh 0;
        }

        &-link {
            cursor: pointer;
            // @extend .transition-3;
            
            a { 
                display: inline-block;
                height: 100%;
                opacity: .6;
                position: relative;
                padding: 0 2vw;
                // @extend .transition-5;
                transition:-webkit-transform .4s cubic-bezier(0.620, 0.005, 0.000, 1.005);
                // z-index: 2;

                // CROSS LINE EFFECT
                &::before {
                    width: 130%;
                    height: .6rem;
                    border: .2rem solid $white;
                    @extend .cross-line;

                    // border-radius: .2rem;
                    // background: $black;
                    // content: '';
                    // position: absolute;
                    // display: block;
                    // top: 50%;
                    // left: 0;
                    // transform-origin: right top;
                    // transform: scale(0, 1);  
                    // transition: transform .3s $cub-1;
                    // z-index: -1;
                }
            }
            
            &:hover {
                a {
                    opacity: 1;
                    // animation: .8s toRight infinite ease-in-out;
                    // animation-delay: .1s;
                    transform: translateX(2.5rem);
        
                    &::before {
                        // animation: .8s crossLine infinite ease-in-out;
                        @extend .cross-line-hover;
                        // transform: scale(1, 1);
                        // transform-origin: left top;
                        
                    }
                }

                
            }
        }

        &-address {
            
        }

        &-email {
            align-self: start;
            background-image: $gold-gradient;
            @extend .txt-img-color;
            cursor: pointer;
            position: relative;
            @extend .transition-2;

            &::before {
                width: 40%;
                // border: .1rem solid $white;
                height: .1rem;
                @extend .cross-line;

                // border-radius: .2rem;
                // background: $black;
                // content: '';
                // position: absolute;
                // display: block;
                // top: 50%;
                // left: 0;
                // transform-origin: right top;
                // transform: scale(0, 1);  
                // transition:-webkit-transform .3s $cub-1;
            }

            &:hover {
                color: $black;
                transform: translateX(2rem);
                &::before {
                    @extend .cross-line-hover;
                    // transform: scale(1, 1);
                    // transform-origin: left top;
                }
                
            }
        }

        &-social {
            svg {
                width: 3.3rem;
                height: 3.3rem;
                padding: 1rem;
                justify-content: start;
                // &:first-child { padding-left: 0;}
                // border: 1px solid black;
            }
           
            
        }
    }

    .chb-toggle:checked ~ .hamburger__nav {
        // display: inline-block;
        transform: translateX(0);
        // width: 40vw;
        // height: 100vh;
    }

    .chb-toggle:checked ~ .hamburger__btn .hamburger__icon {
        background: transparent;
    }

    .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before,
    .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
        top: 0;
        width: 3rem;
        height: .2rem;
        @extend .transition-3;
    }
    .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::after {
        transform: rotate(45deg); // 180deg - 45deg = 135deg
    }

    .chb-toggle:checked ~ .hamburger__btn .hamburger__icon::before {
        transform: rotate(-45deg); // 180deg - 45deg = 135deg
    }
}