.logo {
    // font-family: $logo;
    // font-size: 2rem;
    font-weight: 300;
    font-family: $raleway;
    // display: flex;
    // align-items: center;
    z-index: 58;
    


    &:hover {
        color: $lgold;
    }

    a {
        display: flex;
        flex-direction: column;
        // grid-template-rows: repeat(2, min-content);
        // justify-items: start;
        align-items: center;
        // padding-top: 1.5rem;
    }

    .zvrlj {
        font-family: $logo;
        font-size: 6rem;
        // background: lightblue;
        // font-weight: normal;
    }
    .wtt {
        // background-image: $lgold-gradient;
        // @extend .txt-img-color;
        
        font-weight: bold;
        letter-spacing: -.3rem;
        // transform: translateY(-2.5rem);
        margin-top: -2.6rem;
        font-family: $sans-t;
    }

    .border-bottom {
        width: 70%;
        height: .1rem;
        background: currentColor;
        // margin-top: -3rem;
        transform: translateY(-2.8rem);
        opacity: .5;

    }

    // color: $teget;
    // a {
    //     background-image: $lgold-gradient;
    //     @extend .txt-img-color;
    //     display: grid;
    //     grid-template-columns: repeat(4, min-content);
    //     // justify-content: center;
    //     align-items: center;
    // }

    // i {
    //     font-weight: bold;
    //     font-style: normal;
    //     align-self: end;
    // }

    // span {
    //     // background: $teget;
    //     background-image: $lgold-gradient;
    //     width: 2rem;
    //     height: 2rem;
    //     padding: 1.7rem;
    //     border: .1rem solid $bg-color;
    //     display: inline-flex;
    //     position: relative;
    //     transform: rotate(180deg);
    //     // box-shadow: inset 0 0 1.2rem 0.1rem rgba($teget, 0.5);
    //     // border-top: 2px solid $teget;
    //     border-radius: 50%;

 
    //     &::after, &::before {
    //         content: '';
    //         position: absolute;
    //         width: 2rem;
    //         height: .21rem;
    //         border-radius: 5rem;
    //         background: $bg-color;
    //         transform-origin: 10% 10%;
            
    //     }

    //     &::after {
    //         width: 1.5rem;
    //         transform: rotate(90deg);
    //     }

    //     &::before {
    //         width: 1rem;
    //         transform: rotate(145deg);
    //     }
    // }
}