.sign {
    padding: 5rem 10vw !important;

    &__container {
        background: white;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        // grid-template-rows: max-content;
        // padding: 0 5rem;
        border-radius: .4rem;
        overflow: hidden;
        color: $bg-color;
        box-shadow: $box-shadow-item-img;

    }

    &__left, &__right {
        padding: 4vh 4vw;
    }

    &__left {
        // grid-column: 2/5;
        background: $gold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        p {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 3rem;
        }

        svg {
            fill: $bg-color;
        }

        svg:nth-of-type(1) {
            width: 5rem;
            height: 5rem;
        }

        svg:nth-of-type(2) {
            width: 15rem;
            height: 15rem;
        }
    }

    &__right {
        // grid-column: 5/8;
        background: $darkblue-1;
        display: grid;
        grid-row-gap: 3rem;

    }

    &__signin {
        .form__input:placeholder-shown ~ .form__label { // zelimo da label bude sakriven, a ne input, dodajemo + tj sibling selector, dakle prvo selektujemo input pa potom sa sibling selektorom selektujemo prvi sibling sto je label. Da je izmedju inputa i labela bilo jos nekih divova tj elemenata, takodje bi mogl iselektovati label preko inputa, ali sa drugim selektorom ~ tilda. Da je label element u htmlu PRE inputa, nema sanse da bi mogli da ga selektujemo bilo kojim selektorom preko inputa
            opacity: 0;
            visibility: hidden; // zasto ne koristimo samo opacity? jer sa njim element je i dalje tu tj moze da se klikne na njega a da ne znamo, a sa visibility: hidden, ne. A zasto onda ne koristimo samo visibility? Jer njega ne mozemo da animiramo/transition, dok opacity mozemo! 
            transform: translateY(0); // pogledaj kako izgleda ovaj efekat sa zakomentarisanim opacityjem i visibilityjem !
        }
    }

    // &__signup {
    //     display: none;
    //     // border: 1px solid sandybrown;
    // }


    &__tabs {
        display: flex;
        background: $teget;
        justify-self: end;
        align-self: center;
        border-radius: .4rem;
        font-size: 1.2rem;
        overflow: hidden;
    }

    // &__tab-signin, &__tab-signup {
    //     padding: .6rem 1.6rem;
    //     @extend .transition-2;
    //     cursor: pointer;

    //     &:hover {
    //         color: rgba($bg-color, 1);
    //     }
    // }

    // &__tab-signup {
    //     color: rgba($bg-color, .4);
    // }

    &__signin, &__signup  {
        display: none;
    } 


    .current-tab {
        background: $gold;
        color: rgba($bg-color, 1);
    }

   
}

// #tab-1-content, #tab-2-content {
//     display: none;
// }

// #tab-1-content {
//     display: block;
// }


// #tab-1-content:target {
//     display: block;
// }

// #tab-1-content:not(:target) {
//     display: none;
// }

// #tab-2-content:target {
//     display: block;
// }

// #tab-2-content:not(:target) {
//     display: none;
// }