*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; // mozemo da skrolujemo sa anchorom, a da ima efekat skrola, jupi jejjj
    overflow-x: scroll;
}

body {
    // height: 100vh;
    // width: 100vw;
    // font-family: $raleway, helvetica, Arial, sans-serif;
    font-family: $sans-o;
    font-weight: 300;
    font-size: 1.5rem;
    color: $teget;
    background: $bg-color; // $alfa-bg
    position: relative;
}

body::-webkit-scrollbar { 
    width: 1rem;
}

body::-webkit-scrollbar-button { 
    // background: $bg-color;
}

body::-webkit-scrollbar-track { 
    background: $darkblue-3;
}

// body::-webkit-scrollbar-track-piece { 
//     background: $darkblue-3;
// }

body::-webkit-scrollbar-thumb { 
    background: $lgold-gradient;
    border-radius: 5rem;
}

body::-webkit-scrollbar-corner { 
    background: $darkblue-3;
}

body::-webkit-resizer {
    background:red;
}

::selection {
    background: $darkblue-3;
    color: $bg-color;
}

.grid-container {
    display: grid;
    grid-template-rows: min-content 90vh repeat(5, min-content);
    // grid-template-columns: [side1-start] 6vw [side1-end center-start] repeat(4, [col-center] minmax(min-content, 1fr) [col-end]) [center-end side2-start] 6vw [side2-end]; // 14rem je jer je taj centralni deo izmedju ova dva sidebara od 5vw 1200 ili 1140/4 = 285px po koloni iliti oko 28rem
    grid-template-columns: 6vw repeat(4, minmax(min-content, 1fr)) 6vw; // 14rem je jer je taj centralni deo izmedju ova dva sidebara od 5vw 1200 ili 1140/4 = 285px po koloni iliti oko 28rem
    grid-template-areas: 
        "menu menu menu menu menu menu"
        "side1 header header header header side2"
        "side1 features features features features side2"
        "side1 main main main main side2"
        "side1 subs subs subs subs side2"
        "side1 brands brands brands brands side2"
        "side1 footer footer footer footer side2";
}