*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth; // mozemo da skrolujemo sa anchorom, a da ima efekat skrola, jupi jejjj
    overflow-x: scroll;
}

body {
    font-family: $raleway, helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: $black;
    background: $white;
}

body::-webkit-scrollbar { 
    width: 1rem;
}

body::-webkit-scrollbar-button { 
    // background: $white;
}

body::-webkit-scrollbar-track { 
    background: $black;
}

// body::-webkit-scrollbar-track-piece { 
//     background: $black;
// }

body::-webkit-scrollbar-thumb { 
    background: $gold-gradient;
    border-radius: 5rem;
}

body::-webkit-scrollbar-corner { 
    background: $black;
}

body::-webkit-resizer {
    background:red;
}

::selection {
    background: $black;
    color: $white;
}

.grid-container {
    display: grid;
    grid-template-rows: min-content 100vw min-content min-content 20vw min-content;
    // grid-template-columns: [side1-start] 6vw [side1-end center-start] repeat(4, [col-center] minmax(min-content, 1fr) [col-end]) [center-end side2-start] 6vw [side2-end]; // 14rem je jer je taj centralni deo izmedju ova dva sidebara od 5vw 1200 ili 1140/4 = 285px po koloni iliti oko 28rem
    grid-template-columns: 6vw repeat(4, minmax(min-content, 1fr)) 6vw; // 14rem je jer je taj centralni deo izmedju ova dva sidebara od 5vw 1200 ili 1140/4 = 285px po koloni iliti oko 28rem
    grid-template-areas: 
        "menu menu menu menu menu menu"
        "side1 header header header header side2"
        "side1 refund refund refund refund side2"
        "side1 main main main main side2"
        "side1 subs subs subs subs side2"
        "side1 footer footer footer footer side2";
}