svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        fill: $gold;
        transform: translateY(-.2rem);
    }
}
ul { list-style-type: none; }
a { text-decoration: none; color: inherit; }

.txt-img-color {
    // background-image: ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.transition-2 {
    transition: all .2s $cub-1;
}

.transition-3 {
    transition: all .3s $cub-1;
}

.transition-5 {
    transition: all .5s $cub-1;
}

.nav-bag-same {
    background: $white;
    width: 35vw;
    height: 90vh;
    position: fixed;
    top: 9.2rem;
    z-index: 3;
    @extend .transition-5;
}

.cross-line { // za &::before
    // width: 130%;
    // height: .5rem;
    // border: .2rem solid $white;
    // background: $black;
    content: '';
    background: $black;
    border-radius: .2rem;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform-origin: right top;
    transform: scale(0, 1);
    // @extend .transition-3;  
    transition: transform .3s $cub-1, background .3s $cub-1;
}
// a za hover:
.cross-line-hover {
    transform: scale(1, 1);
    transform-origin: left top;
}