svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    fill: $teget;
    transition: all .2s ease-in-out;
    &:hover {
        fill: $lgold;
        transform: translateY(-.2rem);
    }
}
ul { list-style-type: none; }
a { text-decoration: none; color: inherit; }

.txt-img-color {
    // background-image: ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.transition-2 {
    transition: all .2s $cub-1;
}

.transition-3 {
    transition: all .3s $cub-1;
}

.transition-5 {
    transition: all .5s $cub-1;
}
.transition-transform {
    transition: transform .3s $cub-1, background .3s $cub-1;
}

.nav-bag-same {
    background: $bg-color;
    min-width: 35vw;
    height: 90vh;
    position: fixed;
    top: 9.2rem;
    z-index: 3;
    @extend .transition-5;
}

.cross-line { // za &::before
    // width: 130%;
    // height: .5rem;
    // border: .2rem solid $bg-color;
    // background: $teget;
    content: '';
    background: currentColor;
    border-radius: .2rem;
    position: absolute;
    display: block;
    top: 50%;
    // top: calc(50% - .2rem); // .2rem iliti kolika je visina 
    left: 0;
    // transform-origin: right top;
    transform-origin: 100% 50%; // right top
    transform: scale(0, 1);
    // @extend .transition-3;  
    @extend .transition-transform;
    // transition: transform .3s $cub-1, background .3s $cub-1;
}
// a za hover:
.cross-line-hover {
    transform: scale(1, 1);
    transform-origin: 0% 100%; // left top
    // transform-origin: left top;
}

.show-bag {
    display: block;
    transform: translateX(0);
}