.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.txt-center {
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hr2 {
    width: 2vw;
    height: .2rem;
    // display: inline-block;
    border-radius: .2rem;
    background: $black;
    margin: 0 auto;
    margin-bottom: 2rem;
}