.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mt-8 {
    margin-top: 8rem;
}

.txt-center {
    text-align: center;
}

.show-block {
    display: block !important;
}

.show-flex {
    display: flex;
}

.hide {
    display: none;
}

.hr2 {
    width: 2vw;
    height: .2rem;
    // display: inline-block;
    border-radius: .2rem;
    background: $teget;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.clip-path-filtersort {
    clip-path: circle(150% at 100% 100%);
}