h1, h2, h3, h4, h5 {
    margin: 0;
}
// .h1 {
    // @extend %h-default;
// }

.h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: orangered;
    font-size: 1.2rem;
    // background: 
}   

.h3 {
    color: $black2;
    font-size: 3rem;
}

.h4 {
    font-family: $comforta;
    letter-spacing: .4rem;
    // color: $gold;
    @extend .txt-img-color;
    background-image: $gold-gradient;
}