h1, h2, h3, h4, h5, h6 {
    margin: 0;
   }
   // @extend %h-default;
// .h1 {
   
// }

// .h2 { // ideti u basinat

// }   

.h3 { // title
   font-size: 1.6;
//    color: 
}

.h4 { // brand
   font-size: 1.2rem;
   opacity: .7;
   font-weight: 500;
   // font-family: $poppins;
}

.h5 {
    font-size: 2rem;
    font-family: $comforta;
    letter-spacing: .4rem;
    // color: $gold;
    @extend .txt-img-color;
    background-image: $lgold-gradient;
}

.h6 {
   font-size: 2rem;
   // font-family: $poppins;
}