h1, h2, h3, h4, h5, h6 {
    margin: 0;
   //  display: 
   }
   // @extend %h-default;
// .h1 {
   
// }

.h2 { // videti u basinat (#new)
   font-size: 1.4rem;
   display: inline-block;
   padding: .5rem 1.5rem;
   border-radius: .5rem;
   color: $lgold;
   background-color: rgba($lgold, .4); 
}   

.h3 { // title
   font-size: 2rem;
   font-family: $poppins;
   display: inline-block;
   letter-spacing: .2rem;
   word-spacing: .5rem;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

   &::after {
      content: '';
      position: absolute;
      width: .2rem;
      height: 4.5rem;
      background-color: rgba($lgold, .4);
      border-radius: .5rem;
      // left: 30%;
      // text-align: center;
      top: 140%;
   }
}

.h4 { // brand
   font-size: 1.2rem;
   opacity: .7;
   font-weight: 500;
   // font-family: $poppins;
}

.h5 {
    font-size: 2rem;
    font-family: $comforta;
    letter-spacing: .4rem;
    // color: $gold;
    @extend .txt-img-color;
    background-image: $lgold-gradient;
}

.h6 {
   font-size: 2rem;
   // font-family: $poppins;
}

// .h7 {

// }