@font-face {
    font-family: 'Coves Light';
    src: url('../fonts/Coves Light.otf')  format('opentype');
}

@font-face {
    font-family: 'Luxia-Display';
    src: url('../fonts/Luxia-Display.otf')  format('opentype');
}

@font-face {
    font-family: 'Quantum';
    src: url('../fonts/Quantum.otf')  format('opentype');
}