// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-airplane,
.icon-airplane\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 0;
}
.icon-airplane-dims {
	width: 300px;
	height: 300px;
}
.icon-checked,
.icon-checked\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -300px;
}
.icon-checked-dims {
	width: 50px;
	height: 50px;
}
.icon-cross-out,
.icon-cross-out\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -350px;
}
.icon-cross-out-dims {
	width: 50px;
	height: 50px;
}
.icon-exchange,
.icon-exchange\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -400px;
}
.icon-exchange-dims {
	width: 300px;
	height: 300px;
}
.icon-facebook,
.icon-facebook\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -700px;
}
.icon-facebook-dims {
	width: 50px;
	height: 50px;
}
.icon-form-email,
.icon-form-email\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -750px;
}
.icon-form-email-dims {
	width: 300px;
	height: 300px;
}
.icon-form-eye,
.icon-form-eye\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1050px;
}
.icon-form-eye-dims {
	width: 50px;
	height: 50px;
}
.icon-form-fullname,
.icon-form-fullname\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1100px;
}
.icon-form-fullname-dims {
	width: 300px;
	height: 300px;
}
.icon-form-password,
.icon-form-password\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1400px;
}
.icon-form-password-dims {
	width: 300px;
	height: 300px;
}
.icon-free-delivery,
.icon-free-delivery\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1700px;
}
.icon-free-delivery-dims {
	width: 50px;
	height: 50px;
}
.icon-gift,
.icon-gift\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1750px;
}
.icon-gift-dims {
	width: 50px;
	height: 50px;
}
.icon-heart,
.icon-heart\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1800px;
}
.icon-heart-dims {
	width: 50px;
	height: 50px;
}
.icon-instagram,
.icon-instagram\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1850px;
}
.icon-instagram-dims {
	width: 50px;
	height: 50px;
}
.icon-login,
.icon-login\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1900px;
}
.icon-login-dims {
	width: 50px;
	height: 50px;
}
.icon-login_signup,
.icon-login_signup\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -1950px;
}
.icon-login_signup-dims {
	width: 300px;
	height: 300px;
}
.icon-magnifying-glass,
.icon-magnifying-glass\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2250px;
}
.icon-magnifying-glass-dims {
	width: 50px;
	height: 50px;
}
.icon-pinterest,
.icon-pinterest\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2300px;
}
.icon-pinterest-dims {
	width: 50px;
	height: 50px;
}
.icon-refund,
.icon-refund\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2350px;
}
.icon-refund-dims {
	width: 300px;
	height: 300px;
}
.icon-return-box,
.icon-return-box\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2650px;
}
.icon-return-box-dims {
	width: 50px;
	height: 50px;
}
.icon-shield,
.icon-shield\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2700px;
}
.icon-shield-dims {
	width: 50px;
	height: 50px;
}
.icon-shopping-bag,
.icon-shopping-bag\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2750px;
}
.icon-shopping-bag-dims {
	width: 50px;
	height: 50px;
}
.icon-signup,
.icon-signup\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -2800px;
}
.icon-signup-dims {
	width: 300px;
	height: 300px;
}
.icon-user,
.icon-user\:regular {
	@extend %icon;
	background-image: url('../img/icons.svg');
	background-position: 0 -3100px;
}
.icon-user-dims {
	width: 50px;
	height: 50px;
}