// COLORS
$c1: #E1DDD6;
$c2: #E0DCD5;

$c3: #EBECEE;
$c4: #E8EAE9;
$c5: #DEE0E2;
$c6: #D6D7D9;

$c7: #E2E2E2; // boja border-bottoma i za box-shadow-inset
$c8: #FDFDFB;

$c9: #FEFCFB;
$c10: #E8E8E8; // 5-9

$white: #fcfcfb;
// $white: #efecea;
// $white: #F4F4F4;

$bg: #F1EFE9;

$silver: #e0e2e4; // iz artical-gradienta tamnija
$silver2: #CECECE;

// alfa sajt
$alfa-red: #d43246;
$alfa-bg: #efecea;
$alfa-color: #79726e;
$alfa-title: #3a3c49;
$alfa-meni-bg: #E2DED9; // kad je beo txt
$alfa-box-bg: #F4F4F4;

$black:#222222;
// $black: rgb(42,41,41);

$black1: #16161B;
$black2: #002b31;
$black3: #393B3C;

$black-gradient: linear-gradient(90deg, rgba(42,41,41,1) 0%, rgba(61,61,61,1) 45%, rgba(42,41,41,1) 100%);

$red: #FF231B;
$red1: #d92b04;
$red2: #d03f0a;
$red3: #f44242;
$red4: 	#db1414;
$like-dark: #AF4438;
$like-light: #EC6253;
$like-gradient: linear-gradient(to bottom right, #EC6253, #AF4438);

$article-gradient: radial-gradient( circle farthest-corner at 0% 0.5%,  rgba(241,241,242,1) 0.1%, rgba(224,226,228,1) 100.2% ); // na sivo
$article-gradient2: linear-gradient( 111.5deg,  rgba(242,246,254,1) 0.3%, rgba(227,233,252,1) 99.1% ); // vise na plavo
$article-gradient3: radial-gradient( circle 571px at 51.4% 22.8%,  rgba(250,250,250,1) 4.1%, rgba(230,230,230,1) 100.2% ); // moj kao

$gold-gradient: linear-gradient(to bottom right, #98743E, #E3C394);
$gold: #967140;
$gold2: #E3C394;

// SHADOW
$box-shadow-btn: 0 1rem 2rem rgba($black, .2); 
$box-shadow-item-img: 2px 5px 10px -4px rgba(0,0,0,0.5);

$box-shadow-inset: inset 0 0 1.5rem 1rem rgba($c7, 0.5);
$box-shadow-inset-gold: inset 0 0 .8rem 1rem rgba($gold, 0.5);
$box-shadow-inset-black: inset 0 0 .8rem 1rem rgba($black, 0.5);
$box-shadow-inset-silver: inset 0 0 .8rem 1rem rgba($silver2, 1);
$box-shadow-inset-bg: inset 12rem 10rem 20rem rgba(#000, .2), inset -12rem -10rem 20rem rgba(#000, .2);


// FONTS FONT FACE
$def: 'Coves Light';
// $logo: 'Luxia-Display'; // 'Break Extralight', 'Break Light', 'Break Regular', 'Yessica Regular', 'Quantum'
$cov: 'Coves Light';
$lux: 'Luxia-Display';
$medium-r: 'Medium Regular';
$medium-m: 'Medium Medium';
$yess: 'Yessica Regular';
$qua: 'Quantum';

$logo: 'Geraldine';

// GOOGLE FONTS
$sans-t: 'Tenor Sans', sans-serif; // KUL!
$sans-o:'Open Sans', sans-serif; // onako
$poppins: 'Poppins', sans-serif; // onako 2 slicn oko open sans
$raleway: 'Raleway', sans-serif; // dobro, W ok bas je watch
$comforta: 'Comfortaa', cursive; // citko, YOUR BAG je kul
$montserat: 'Montserrat', sans-serif; // msm da mg brisati
$jaldi: 'Jaldi', sans-serif; // ok, sitniji, nista posebno
$arsenal: 'Arsenal', sans-serif; // dobro, izduzeno onako, nije zaokreuzeno kao prethodni, kao sans

$cub-5: cubic-bezier(0.620, 0.005, 0.000, 1.005); // ovu koristih
$cub-3: cubic-bezier(.17,.67,.83,.67);
$cub-2: cubic-bezier(0,.37,.97,.08);
$cub-4: cubic-bezier(.17,.67,.83,.67);
$cub-1: cubic-bezier(0.65, 0.05, 0.36, 1);